#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.timerControls {
  margin-top: 80px;
}

.timerControls button {
  padding: 0;
  background-color: transparent;
  margin-right: 20px;
}

.timerControls button:hover {
  border: none;
  background-color: transparent;
}

.timerControls img {
  color: black;
  height: 30px;
  padding: 0;
}

.taskFormSection {
  background-color: #e4e4e4;
  padding: 30px;
  border-radius: 8px;
}

.taskFormSection h2 {
  margin: 0px 0px 20px 0px;
}

.tf-form  form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

section > button {
  margin-top: 20px;
}